NMS_SAVE_ROOT=/mnt/Unlimited-Gaming/SteamLibrary/steamapps/compatdata/275850/pfx/drive_c/users/steamuser/AppData/Roaming/HelloGames/NMS
NMS_PROFILE=changeme
NMS_SAVES_DIRS=changeme
NMS_HG_PATH=changeme
NMS_WATCH_FILE=save2.hg

NMS_DB_HOST=127.0.0.1
NMS_DB_PORT=3306
NMS_DB_USER=nms_user
NMS_DB_PASS=changeme
NMS_DB_NAME=nms_database

NMS_DB_INITIAL_TABLE=nms_initial_items
NMS_DB_LEDGER_TABLE=nms_ledger_deltas
INITIAL_TABLE=nms_initial_items
LEDGER_TABLE=nms_ledger_deltas

USE_MTIME=1
NMS_LEDGER_USE_MTIME=1
INVFP_ENABLED=1

ICON_CACHE_DIR=cache/icons
ICON_CACHE_RETENTION_DAYS=60
ICON_CACHE_BROWSER_MAX_AGE=2592000

NMS_WATCH_DEBOUNCE=3
NMS_WATCH_STARTUP_DELAY=60